nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li:hover{
    background-color: lightgray;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}