.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: #7a7a7a;
}
/* shared styles */
.text-primary{
    color: rgba(253, 110, 10, 1);
}
.dark-2{
    color: #474747;
    font-size: 20px;
}
.btn-primary{
    background-color: rgba(253, 110, 10, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    padding: 17px 28px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid black;
}
.btn-primary:hover{
    box-shadow: black 2px 2px 10px;
    background-color: #474747;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav li a{
    text-decoration: none;
}

