h2{
    color: aqua;
    text-align: center;
    font-family: Arial, sans-serif;
}

.lorem{
    margin: 10px;
    border: 7px solid tomato;
    border-radius: 13px;
    padding: 12px;
    box-shadow: 10px 10px 18px grey;
}
h3{
    margin-right: 0px;
}
.list{
    margin : 10px;
    padding: 18px;
    border: 9px solid tomato;
    border-radius: 5px;
    box-shadow: 10px 10px 18px grey;
}